@font-face {
	font-family: "title";
		src:
    url("trickster-COLRv1.otf") format("opentype") tech(color-COLRv1);
}
body {
	background-image: url("./assets/background.png");
    	background-color: #cccccc;
	background-size: cover;
}



h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
