@font-face {
	font-family: "title";
		src:
    url("./assets/title1.ttf");
}
body {
	background-image: url("./assets/background.png");
    	background-color: #cccccc;
	background-size: cover;
}



h1 {
    text-align: center;
    font-family: "title";
    font-weight: normal;
}
