@font-face {
	font-family: "title";
		src:
    url("./assets/title1.ttf");
}

@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);
body {
	background-image: url("./assets/background.png");
    	background-color: #cccccc;
	background-size: cover;
}


h1 {
    text-align: center;
    font-family: ‘cwTeXKai’, serif;
    font-weight: normal;
	color:#49d0cc;
}

#titleimage {
	text-align: center;
	height: 200px;
}

#poster {
	text-align: center;
}

#video {
	text-align: center;
}
